# Importing required libraries and dependencies:

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Loading the dataset:

In [2]:
titanic_data = pd.read_csv("C:\\Users\\Bhramar\\Downloads\\Titanic-Dataset.csv")
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

# Preparing the data:

In [4]:
#dropping columns of no importance
titanic_data = titanic_data.drop(columns='Cabin', axis=1)

In [5]:
#replacing missing age values with it's average
titanic_data['Age'].fillna(titanic_data['Age'].mean(),inplace=True)

In [6]:
#replacing missing Embarked values with it's mode
print(titanic_data['Embarked'].mode())

0    S
Name: Embarked, dtype: object

In [7]:
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0],inplace=True)

In [8]:
#checking the dataset after making changes
titanic_data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

# Tranformation into categorical columns:

In [9]:
titanic_data.replace({'Sex':{'male': 0, 'female': 1}, 'Embarked':{'S': 0,'C': 1,'Q':2}},inplace=True)
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,0

# Splitting the data:

In [10]:
#splitting the data into independent and dependent variables
x = titanic_data.drop(columns=['PassengerId','Name','Ticket','Survived'], axis=1)
y = titanic_data['Survived']

In [11]:
#splitting the dataset into training data and testing data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=2)

# Logistic Regression Model:

In [12]:
model =  LogisticRegression()
#fitting training data to the model
model.fit(x_train, y_train)

C:\Users\Bhramar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
#checking accuracy of training data model
x_train_prediction=model.predict(x_train)
training_data_accuracy=accuracy_score(y_train, x_train_prediction)
print('Accuracy score of training data:',training_data_accuracy)

Accuracy score of training data: 0.812199036918138

In [14]:
#checking accuracy of testing data model
x_test_prediction=model.predict(x_test)
testing_data_accuracy=accuracy_score(y_test, x_test_prediction)
print('Accuracy score of testing data:',testing_data_accuracy)

Accuracy score of testing data: 0.7947761194029851

# Checking for a random person:

In [15]:
random_input = (3,1,40,1,1,8.05,1) #Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
input_array = np.asarray(random_input) #input in numpy array format
input_reshaped = input_array.reshape(1,-1)

#predict using model
prediction = model.predict(input_reshaped)
if prediction[0]==0:
    print("Dead.")
else:
    print("Alive.")

Dead.

C:\Users\Bhramar\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [16]:
random_input = (1,1,25,0,0,80,0) #Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
input_array = np.asarray(random_input) #input in numpy array format
input_reshaped = input_array.reshape(1,-1)

#predict using model
prediction = model.predict(input_reshaped)
if prediction[0]==0:
    print("Dead.")
else:
    print("Alive.")

Alive.

C:\Users\Bhramar\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(